        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: rgba(225, 217, 217, 0.837);
            margin: 0;
            padding: 0;
        }
        
        .background {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
            background-position: center;
            background-size: center;
        }

        button {
        width: 200px;
        height: 50px;
        border: 1px solid;
        border-radius: 25px;
        background: #6bd926;
        font-size: 18px;
        color: #e9f4fb;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        }

        .heading {
            text-align: center;
            color: rgb(44, 18, 18);
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #eeedd8;
        }

        .container h1 {
            text-align: center;
            color: #326b34;
        }

        hr {
            border: 1px solid #ddd;
            box-shadow: 0, .5rem 1rem black;
        }

        input[type="text"],
        input[type="number"] {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            margin-bottom: 10px;
            border: 2px solid rgb(111, 122, 102);
            border-radius: 10px;
        }

        input[type="submit"] {
            background-color: #5dc961;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #115214;
        }